---
layout: page
title: Material didáctico
lang: es
---
<script>
setPreview = function(path, title){
    desc = title + '<p><a href="'+path+'" download>Descargar</p>'
    document.querySelector('#preview-material p').innerHTML = desc
    prev = document.getElementById('preview-material').querySelector("iframe")
    prev.style.display = "";
    prev.src = path
}
</script>

<div id="page-materiales">
    <div id="preview-material">
        <h4>Vista previa</h4>
        <p>Selecciona un fichero</p>
        <iframe  style="display:none">
        </iframe>
    </div>
    <ul id="materiales-list">
        {% assign grupos = site.data.material | group_by:"group" %}
        {% for grupo in grupos %}    
            <li><h3>{{ grupo.name }}</h3></li>
            <ul>
            {% for file in grupo.items %}
                <li>
                <a href="#preview-material" class="material-link {% if file.estado %}{{file.estado}}{% endif %}" onclick="setPreview('{{file.url}}', '{{file.title}}')">{{file.title}}
                </a>
                </li>
            {% endfor %}
            </ul>
        {% endfor %}
    </ul>
    <div class="note-box">
    <ul>
    <li>
    Los apuntes que aún están incompletos aparecen en la lista con el título <span class="wip">en cursiva</span>.
    </li>
    <li>
    Estos materiales son gratuitos, pero si te han servido y me quieres dar las gracias con una pequeña contribución, puedes <a href="https://www.buymeacoffee.com/miguelmj">comprarme un café aquí</a>
    </li>
    </ul>
    </div>
</div>
