---
layout: page
title: Projects
permalink: /projects/
---
<div id="projects-display">
{% for project in site.projects %}

    {% capture logo_url %}
    {% if project.logo %}
        {{ project.logo }}
    {% elsif project.logo_compact %}
        {{ project.logo_compact }}
    {% endif %}
    {% endcapture %}
    
    <a class="projects-cell" href="{{ project.url | prepend: site.baseurl }}">
        {% if project.logo %}
        <div class="container">
            <h3 class="overlay-show">{{ project.title }}</h3>
            <p class="slogan overlay-show">
            {{ project.slogan }}
            </p>
            <img alt="logo" class="project-logo overlay-hide" src="{{logo_url}}">
        </div>
        {% else %}
        <div class="slogan">
            <p>
            {{ project.slogan }}
            </p>
        </div>
        {% endif %}
    </a>
{% endfor %}
</div>
