<footer class="site-footer">

  <div class="wrapper">

    {% assign contactme = site.contactme | where: "lang",page.lang | first %}
    <h3 class="footer-heading">{{ contactme.text }}</h3>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>E-mail</li>
          <li><a href="mailto:{{ site.data.contact.outlook }}">{{ site.data.contact.outlook }}</a></li>
          <li><a href="mailto:{{ site.data.contact.gmail }}">{{ site.data.contact.gmail }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li>Links</li>
          <li>
            {% include icon-twitter.html username=site.data.contact.twitter_username %}
          </li>
          <li>
            {% include icon-github.html username=site.data.contact.github_username %}
          </li>
          <li>
            {% include icon-linkedin.html username=site.data.contact.linkedin_username %}
          </li>
          <li>
            {% include icon-dev.html username=site.data.contact.dev_username %}
          </li>
          <li>
            {% include icon-buymeacoffee.html username=site.data.contact.buymeacoffee_username %}
          </li>
          <li>
            {% include icon-stackoverflow.html username=site.data.contact.stackoverflow_username %}
          </li>
          
        </ul>
      </div>
      {% assign desc = site.credit | where: "lang",page.lang | first%}
      <div class="footer-col footer-col-3">
        <p>{{ desc.text | markdownify }}</p>
      </div>
    </div>

  </div>

</footer>
