<dl>
{% for project in include.projects %}
<dt>
<a href="{{project.url}}">{{project.title}}</a>
</dt> 
<dd>{{project.description}}
<br>
<small>Links: {% for link in project.links %}<a href="{{ project.links[link.first] }}">{{link.first}}</a>{%if forloop.last%}{%else%}, {%endif%}{% endfor %}</small>
</dd>
{% endfor %}
</dl>
<!--table>
    <tbody>
        {% for project in include.projects %}
        <tr>
            <td><a href="{{project.url}}">{{project.title}}</a></td>
            <td>{{project.description}}</td>
            <td><ul class="nobullet">{% for link in project.links %}<li><a href="{{ project.links[link.first] }}">{{link.first}}</a></li>{% endfor %}</ul></td>
        </tr>
        {% endfor %}
    </tbody>
</table-->