@keyframes neon{
    from {box-shadow: 0px 0px 0px $grey-color-light;}
    to {box-shadow: 0px 0px 10px $grey-color-light;}
}
#avatar{
    display: block;
    margin: auto;
    max-height: 160px;
    border-radius: 50%;
    border: 1px solid $grey-color;
    animation: neon 1s ease-out 0s 1 forwards;
}
#presentation{
    padding-bottom: $spacing-unit;
    margin-bottom: $spacing-unit;
    border-bottom: 1px solid $grey-color;
}
#presentation-text{
    min-height: 160px;
    text-align: center;
}
#presentation-text p{
    color: $secondary-text-color;
}
@media screen and (min-width: 600px){
    #presentation{
        position: relative;
    }
    #avatar {
        float: left;
        padding-right:1px;
    }
}
