@keyframes fade-in{
    from { opacity: 0.15; }
    to { opacity: 1; }
}
@keyframes from-down{
    from { margin-top: 2 * $spacing-unit; }
    to { margin-top: $spacing-unit; }
}
@keyframes from-big{
    from { font-size: 15px;}
    to { font-size: 20px;}
}
.home{
    animation: fade-in 0.2s ease-in-out 0s 1 forwards;
}
#presentation{
    @extend .centered-text;
    @extend .centered-block;
    padding: $spacing-unit 10%;
    position: relative;
    & + .trigger{
        display:flex;
        flex-direction: column;
        align-items:center;
        & a{
            font-family: $h-font-family;
            animation: from-big 0.3s ease-out 0s 1 forwards;
            padding-bottom: $spacing-unit/2;
        }
    }
}
.avatar-container{
    @extend .container;
    @extend .circle;
    @include highlightable($grey-color-light, $brand-color);
    margin: $spacing-unit/2 auto;
    height: 160px;
    width: 160px;
}
#presentation-text{
    animation: from-down 0.3s linear 0s 1 forwards;
    min-height: 160px;
}
@media screen and (min-width: 600px){
    #icon-link-row{
        margin: $spacing-unit auto; 
        width:60%;
        display:flex; 
        flex-direction: row;
        align-items:center;
        justify-content: space-evenly;
    }
    #presentation{
        //padding-bottom:  0px;
        & + .trigger{
            flex-direction: row;
            align-items:center;
            justify-content:space-evenly;
        }
    }
    // Here for the lights
    @keyframes light-rot{
        from{
            transform: rotate(0deg)
        }
        to{
            transform: rotate(360deg)
        }
    }
    .lights{
        display:block;
        margin:  $spacing-unit*2 auto;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        position: relative;
        animation: light-rot 5s linear 0s infinite forwards;
        transition: 0.5s;
        border-radius: 50%;
        border: 1px solid $grey-color;
        .trigger:hover + &{
            border-color: $brand-color;
        }
        &::before, &::after{
            content:"";
            position: absolute;
            width:5px;
            height:5px;
            border-radius:50%;
            background-color: $grey-color-light;
            box-shadow: 0px 0px 10px 3px $grey-color-light;
            transition: 0.3s ease;
            .trigger:hover + &{
                background-color: $brand-color;
                box-shadow: 0px 0px 10px 3px $brand-color;
                
            }
        }
        &::after{
            bottom:calc(50% - 2px);
            left:calc(100% - 2px);
        }
        &::before{
            top:calc(50% - 2px);
            right:calc(100% - 2px);
        }
    }
    // From here for about page
    .avatar-container.counter-aligned{
        float: right;
        margin-right: 0px;
        margin-left: $spacing-unit;
        margin-bottom: $spacing-unit/2;
    }
}
// 404
#e404{
    text-align:center;
    font-size: xx-large;
    color: $brand-color;
    filter:drop-shadow(0px 0px 2px red);
}
