@font-face {
    font-family: 'DarwinSerifRegular';
    src: url('/assets/font/DarwinSerif-Regular.ttf');
}

body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
  }
[data-theme="light"],
:root:not([data-theme="dark"]) {
    --primary: #0aa394;
    --muted-color: #111;
    background-color: hsl(206, 29%, 91%);
}

@media only screen and (prefers-color-scheme: dark){
    :root:not([data-theme="light"]){
        --primary: #0aa394;
        --muted-color: white;
        background-image: linear-gradient(to top, transparent, #2e4352), url("data:image/svg+xml,%3Csvg viewBox='0 0 1200 800' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
        background-blend-mode: multiply, multiply;
        background-color: #2e4352;
        background-attachment:fixed ;
        background-size: cover;
        background-repeat: repeat;
    }
}

[data-theme="dark"] {
    --primary: #0aa394;
    --muted-color: white;
    background-image: linear-gradient(to top,#2e4352, #11191f);
    background-color: #2e4352;
    background-attachment: fixed;
    background-size: cover;
}
:root {
    /*
    font-family: "DarwinSerifRegular"
    --font-family: "Lucida Console", "Courier New", monospace;
    */
}
html {
    scroll-behavior: smooth;
}
svg {
    width: 32px;
    fill: var(--primary)
}
hgroup > h1 + h2 {
    font-style: italic;
}
article {
    box-shadow: 0px 0px 12px #11191f;
    background-color: transparent;
    padding-top: var(--spacing);
    padding-bottom: var(--spacing);
}

summary h2 {
    --font-size: 1.25rem;
    --typography-spacing-vertical: 1rem;
}

h3 {
    --font-size: 1.2rem;
    --typography-spacing-vertical: 0.5rem;
    line-height: 1.2
}

:not([open]) summary * {
    color: var(--primary)
}

[open] summary * {
    color: var(--contrast)
}

details article {
    margin-top: var(--spacing);
    margin-bottom: var(--spacing);
}
#highlight-blog h2, #other-activity h2 {
    margin-bottom: var(--spacing);
}
article:has(> .card-link) {
    position: relative;
    padding-bottom: calc(var(--font-size) * 2.5);
}
.card-link {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}
.flexcon {
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    align-content: space-between;
}
.flexcon > * {
    flex: 1 1 25%;
    padding: var(--spacing);
    margin:var(--spacing);
}
[data-theme=dark] .icon {
    filter: invert(0.9)
}

.goback {
    border-radius: 50%;
    font-weight: bold;
    width: 48px;
    height: 48px;
}

nav ul li[data-tooltip] {
    border-bottom: unset;
}
tr > td {
    vertical-align:middle !important;
}
.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
hr {
    border-bottom: 1px solid #777;
}

[aria-label='switch theme'] {
    cursor: pointer;
    height: 100%;
    width: 100%;
    opacity: 0;
}
.themeicon{
    background-image: url('/assets/img/lightbult.svg');
    background-size: contain;
    background-position: center;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
}
[data-theme="light"] .themeicon{
    opacity: 0.5;
    filter: invert(0);
}
[data-theme="dark"] .themeicon{
    opacity: 0.5;
    filter: invert(1);
}
.themeicon:hover {
    opacity: 1;
}