@media screen and (min-width: 600px){
    #presentation{
        position: relative;
    }
    #avatar {
        float: left;
        padding-right:1px;
    }
}
#presentation{
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #BBB;
}
#presentation-text{
    min-height: 160px;
    text-align: center;
}
#presentation-text p{
    color: #555555;
}
#avatar{
    display: block;
    margin: auto;
    max-height: 160px;
    border-radius: 50%;
}
