#avatar {

    max-height: 90%;
    height: auto;
    object-fit:cover;
    
    margin: 0% 2%;
    float: left;
    
    border-radius: 50%;
    border: 2px solid #454545;
}
#presentation-text p{
    color: #555555;
}
#presentation{
    height:160px;
}
.home div{
    position: relative;
}
#presentation::after {
    clear: both;
}
