
#toc li, #toc ul {
    margin: 0;      
}
#toc li {
    padding-top: 0;
    padding-bottom: 0;
}
body > header {
    padding-bottom: 0
}
body > main {
    padding-top: 0
}
body > footer, body > header, body > main {
	max-width: 1024px;
}
body > main figure img, 
body > main figure figcaption {
    display: block;
    margin: auto;
    max-width: 80%;
    font-size: smaller;
}
body > main figure img {
    background-color: rgba(255, 235, 205, 0.75);
}
q {
    font-style: italic;
}
sup[role="doc-noteref"]::before {
    content: ' ['
}
sup[role="doc-noteref"]::after {
    content: ']'
}
p {
    text-align:justify;
    text-justify: inter-word;
}