---
layout: page
title: Clases Particulares
lang: es
---
<style>
    @keyframes appear{
        from{opacity:0}
        to{opacity:1}
    }
</style>

<div id="tabswitchlist">
<div id="anuncios" class="tabswitch off" onclick="switchTabParticulares('anuncios')"><a>Anuncios</a></div>
<div id="opiniones" class="tabswitch off" onclick="switchTabParticulares('opiniones')"><a>Opiniones</a></div>
</div>

<div id="anuncios" class="tab">
    <div class="class-option" onclick="show_hide('mat')">
        <h1>
            Matemáticas
        </h1>
        <div class="icon-extend">
        </div>
    </div>
        
    <div class="more-info-hide" id="mat">
    <p>
    Te ayudaré con los conceptos más problemáticos, como las operaciones con fracciones, límites, sistemas de ecuaciones, geometría analítica, etc.<br> 
    Mi objetivo es hacerte comprensible la teoría para que adquieras soltura y seguridad con los ejercicios más habituales en los exámenes.
    <br><i>
    Medio: Online(Zoom, Skype, Hangouts...)
    </i>

    <div class="oferta"><p>Primera hora de clase gratuita</p><a href="mailto:miguelmejiajimenez@hotmail.com?subject=Sobre las clases de matemáticas&body=Me interesaría ponerme en contacto contigo por las clases de matemáticas."><div class="mailbutton">Contáctame sin compromiso</div></a></div>

    <table>
    <tr>
        <td>ESO</td><td>8 €/h</td>
    </tr>
    <tr>
        <td>Bachillerato</td><td>10 €/h</td>
    </tr>
    </table>

    </div>

    <div class="class-option" onclick="show_hide('prog')">
        <h1>
            Programación
        </h1>
        <div class="icon-extend">
        </div>
    </div>
        
    <div class="more-info-hide" id="prog">
    <p>
    Te enseñaré C, C++ o Java desde un nivel básico hasta uno intermedio/avanzado. Puedo ayudarte a entender los conceptos fundamentales de los algoritmos, las estructuras de datos y la programacioń orientada a objetos (POO).
    <br><i>
    Medio: Online (Zoom, Skype, Hangouts...)
    </i>

    <div class="oferta"><p>Primera hora de clase gratuita</p><a href="mailto:miguelmejiajimenez@hotmail.com?subject=Sobre las clases de programación&body=Me interesaría ponerme en contacto contigo por las clases de programación."><div class="mailbutton">Contáctame sin compromiso</div></a></div>

    <table>
    <tr><td>15 €/h</td></tr>
    </table>
    </div>

</div>

<div id="opiniones"  class="tab">
    <h3>Opiniones</h3>
    <h5>Desde <a href="https://www.tusclasesparticulares.com/profesores/miguel-mejia-jimenez/opiniones">tusclasesparticulares.com</a></h5>
    {% for opinion in site.data.opiniones %}
        <div class="opinion">
        <span class="opinion-header">{{ opinion.name }}</span><p class="score">{% for st in (1..opinion.score) %}<span class="star">&#9733</span>{% endfor %}</p>
        <div class="opinion-text">
        {{ opinion.text }}
        </div>
        </div>
    {% endfor %}
    <p class="note-box centered-text">
    Para dejar una valoración de mi trabajo como profesor, usa <a href="https://www.tusclasesparticulares.com/opinion/miguel-mejia-jimenez">este link</a>.
    </p>
</div>

<script>
show_hide = function(id){
    el = document.getElementById(id)
    if(el.classList.contains("more-info-hide")){
        el.classList.remove("more-info-hide")
        el.querySelector(".oferta").style = ""
        void el.offsetWidth // trigger reflow
        el.querySelector(".oferta").style = 
            "animation: appear 0.3s linear 0.2s 1 forwards"
        el.classList.add("more-info-show")
    }else{
        el.classList.add("more-info-hide")
        el.classList.remove("more-info-show")
    }
}

switchTabParticulares = function(tabid){
    tabs = document.getElementsByClassName('tab')
    for(tab in tabs){
        if(tabs[tab].id == tabid){
            tabs[tab].style = ""
        }else{
            tabs[tab].style = "display:none"
        }
    }
    switches = document.getElementsByClassName('tabswitch')
    console.log(switches)
    for(sw in switches){
        console.log(switches[sw])
        if(switches[sw].id == tabid){
            switches[sw].classList.remove('off')
            switches[sw].classList.add('on')
        }else{
            switches[sw].classList.remove('on')
            switches[sw].classList.add('off')
        }
    }
}
switchTabParticulares('anuncios')
</script>
