---
---
{% include head.html %}


<div class="wrapper">

<div class="home">
    
    <div id="presentation">
        {% include changing-avatar.html %}
        
        <div id="icon-link-row">
            <a href="https://github.com/{{site.data.contact.github_username}}">
                <span class="icon32">{% include icon-github.svg %}</span>
            </a>
            <a href="https://linkedin.com/in/{{ site.data.contact.linkedin_username }}">
                <span class="icon32">{% include icon-linkedin.svg %}</span>
            </a>
            <!--<a href="https://stackoverflow.com/users/{{site.data.contact.stackoverflow_username}}">
                <span class="icon32">{% include icon-stackoverflow.svg %}</span>
            </a>
            <a href="https://dev.to/{{site.data.contact.dev_username}}">
                <span class="icon32">{% include icon-dev.svg %}</span>
            </a>-->
            <a href="https://twitter.com/{{site.data.contact.twitter_username}}">
                <span class="icon32">{% include icon-twitter.svg %}</span>
            </a>
        </div>
        
        <div id="presentation-text">
            {{ content }}
        </div>
    </div>
    
    <div class="trigger">
        {% for my_page in site.pages %}
        {% if my_page.title %}
        {% if my_page.lang == page.lang  %}
            <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
        {% endif %}
        {% endif %}
        {% endfor %}
    </div>
    <!--div class="lights"></div-->
    
    <nav class="menu-desplegable right">
        <h4>Language</h4>
        <div class="desplegable-items">
            <div id="es" class="lang"><a href="/es">Español</a></div>
            <div id="en" class="lang"><a href="/">English</a></div>
        </div>
    </nav>
</div>
    
</div>
