<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ page.title }} - MiguelMJ</title>
    <meta charset="UTF-8">
    {% if page.keywords %}
    <meta name="keywords" content="{{ page.keywords }}">
    {% endif %}
    {% if page.description %}
    <meta name="description" content="{{ page.description }}">
    {% endif %}
    <meta name="author" content="MiguelMJ">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if page.cover_image and page.cover_image != nil and page.cover_image != "" %}
    <meta name="og:image" content="{{page.cover_image}}">
    {% endif %}
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <link rel="stylesheet" href="/assets/css/style.css">
    {% if page.main_index %}
    <link rel="me" href="https://mastodon.social/@MiguelMJ">
    {% endif %}
    {% if page.highlight %}
    <link rel="stylesheet" href="/assets/css/syntax-base16.solarized.light.css"/>
    {% endif %}
</head>


<body>
    <nav id="navbar">
            <ul  class="nobullet">
                <li><a href="/">Home</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/reflections">Reflections</a></li>
                <li><a href="/social">Social</a></li>
                <li><a href="/cv">CV</a></li>
                <li><a href="/colophon">Colophon</a></li>
            </ul>
            
    </nav>
    {% include breadcrumbs.html %}
    <main>
        {{ content}}
    </main>
    <hr/>
    <footer>
        <small>
            <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">CC BY NC 4.0</a>
        </small>
    </footer>
    <i id="gototop"></i>
</body>

<script>
    const gototop = document.getElementById("gototop")
    gototop.onclick = () => {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
    window.onscroll = () => {
        if (document.body.scrollTop > window.innerHeight || document.documentElement.scrollTop > window.innerHeight) {
            gototop.style.display = "block";
        } else {
            gototop.style.display = "none";
        }
    }
</script>

</html>