<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ page.title }} - MiguelMJ</title>
    <meta charset="UTF-8">
    {% if page.keywords %}
    <meta name="keywords" content="{{ page.keywords }}">
    {% endif %}
    {% if page.description %}
    <meta name="description" content="{{ page.description }}">
    {% endif %}
    <meta name="author" content="MiguelMJ">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if page.cover_image and page.cover_image != nil and page.cover_image != "" %}
    <meta name="og:image" content="{{page.cover_image}}">
    {% endif %}
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <link rel="stylesheet" href="/assets/css/style.css">
    {% if page.main_index %}
    <link rel="me" href="https://mastodon.social/@MiguelMJ">
    {% endif %}
    {% if page.highlight %}
    <link rel="stylesheet" href="/assets/css/syntax-base16.solarized.light.css"/>
    {% endif %}
</head>


<body>

    {% include breadcrumbs.html %}
    
    <main>
        {{ content}}
    </main>
    <hr/>
    <footer>
        <nav id="navbar">
                <ul>
                    <li><a href="/">Home</a></li>
                </ul>
                <ul>
                    <li><a href="/projects">Projects</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/personal">Personal</a></li>
                    </ul>
                <ul>
                    <li><a href="/social">Social</a></li>
                    <li><a href="/cv">Professional</a></li>
                </ul>
                <ul>    
                    <li><a href="/colophon">Colophon</a></li>
                </ul>
        </nav>
        <small>
            This page is <a href="https://github.com/MiguelMJ/MiguelMJ.github.io">open source</a> and licensed under <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">CC BY NC 4.0</a>. Learn more <a href="/colophon">about this website</a>.
        </small>
    </footer>

</body>
</html>