---
layout: main
extra_css: "/assets/css/post.css"
---

<header>
    <section>
        <nav>
            <a role="button" href="../" class="goback"><<</a>
        </nav>
    </section>
    {% if page.cover_image and page.cover_image != nil and page.cover_image != "" %}
    <img width="1204" height="576" style="border-radius: 5px;" src="{{ page.cover_image }}" alt="{{ page.title }}">
    {% if page.cover_attribution and page.cover_attribution != nil and page.cover_attribution != "" %}
        <small><em>Imágen de portada: {{ page.cover_attribution }}</em></small>
    {% endif %}
    {% endif %}
    <hr/>
    {% if page.subtitle and page.subtitle != nil and page.subtitle != "" %}
    <hgroup>
        <h1>{{ page.title }}</h1>
        <h2>{{ page.subtitle }}</h2>
    </hgroup>
    {% else %}
    <h1>{{ page.title }}</h1>
    {% endif %}

    {% include avatar.html size="32px" %}
    <span style="margin-left: 8px"><small>MiguelMJ - <date>{{ page.date }}</date></small></span>
    
    
</header>


<main>
    <aside>
        <article id="toc">
            <h3>Índice</h3>
            {% include toc.html html=content h_min=2 h_max=3 %}
        </article>
    </aside>
    {{ content | markdownify }}
    <hr/>
    <footer>
        <small>
            This work is licensed under <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Creative Commons License" title="CC BY NC 4.0" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" /></a>
        </small>
    </footer>
</main>

