---
layout: main
---
<article>
    <header role="banner">
        {% if page.cover_image and page.cover_image != nil and page.cover_image != "" %}
        <img class="cover" width="1204" height="576" style="border-radius: 5px;" src="{{ page.cover_image }}" alt="{{ page.title }}">
        {% if page.cover_attribution and page.cover_attribution != nil and page.cover_attribution != "" %}
        <small><em>{{ page.cover_attribution | markdownify }}</em></small>
        {% endif %}
        {% endif %}
        
        <h1>{{ page.title }}</h1>
        <h2 class="subtitle">{{ page.subtitle }}</h2>
        <small>MiguelMJ - <date>{{ page.date | date: "%Y-%m-%d" }}</date></small>
    </header>
    <nav role="doc-index" id="toc" class="card">
        {% include toc.html html=content h_min=page.toc_min h_max=3 %}
    </nav>

    <main>
        {{ content | markdownify }}
    </main>
    {% if page.links %}
    <hr/>
    <footer>
    <p>Syndicated at {%for link in page.links%} : <a href="{{page.links[link.first]}}">{{link.first}}</a>{%endfor%}</p>
    </footer>
    {% endif %}
</article>


<style>
    #gototop {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        cursor: pointer;
        border-radius: 50%;
        width: auto;
        aspect-ratio: 1 / 1;
    }

    #gototop i {
        border: solid white;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 8px;
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
    }
</style>

<span id="gototop"><i></i></span>

<script>
    const gototop = document.getElementById("gototop")
    gototop.onclick = () => {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
    window.onscroll = () => {
        if (document.body.scrollTop > window.innerHeight || document.documentElement.scrollTop > window.innerHeight) {
            gototop.style.display = "block";
        } else {
            gototop.style.display = "none";
        }
    }
</script>
