---
layout: default
---
{% include series-nav.html %}

<h1> Series: {{ page.title }}</h1>
{% assign ordered_posts = page.posts | sort:"date" %}


<p class="post-meta">{{ page.posts | size }} posts. The last post was published in {{ ordered_posts[0] | slice: 1,10 }}</p>

<i>{{ content }}</i>

<ol>
{% for url in ordered_posts %}
    {% assign post = site.posts | where:"url",url | first %}
    <li>
    <h3>
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </h2>
    </li>
{% endfor %}
</ol>
